{{> tophead }}

<div class="header_loggedin">
    <div class="left">
        <a href="/">Home</a>
        <a href="/explore" >Explore</a>
        <a href="/deactivate">Deactivate</a>
    </div>
    <div class="right">
        <a href="/profile/{{session.username}}" class='vp' >{{session.username}}</a>
        <a href="/edit">Edit profile</a>
        <a href="/logout" >Logout</a>
    </div>
</div>