{{> tophead }}

<div
  class="data"
  id="data"
  data-session="{{session.id}}"
  data-username="{{session.username}}"
  data-email-verified="{{session.email_verified}}"
  data-loggedin="{{loggedIn}}"
></div>

<div id="root"></div>

{{> footer }}
